<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
  
<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
<property name="driverClassName" value="com.mysql.jdbc.Driver" />  
<property name="url" value="jdbc:mysql://localhost:3306/AU" />  
<property name="username" value="root" />  
<property name="password" value="Superstar!2" />  
</bean>  
  
<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">  
<property name="dataSource" ref="ds"></property>  
</bean>  
  
<bean id="edao" class="com.au.spring.assignment.EmployeeDao">  
<property name="jdbcTemplate" ref="jdbcTemplate"></property>  
</bean> 
  
 <bean id="emp" class="com.au.spring.assignment.Employee">
 <property name="eid" value="1"></property>
 <property name="name" value="viggie"></property>
 <property name="salary" value="200000"></property>
 </bean>
 
  <bean id="emp1" class="com.au.spring.assignment.Employee">
 <property name="eid" value="2"></property>
 <property name="name" value="Saurabh"></property>
 <property name="salary" value="200000"></property>
 </bean>
</beans> 