table {
	
	width : 20%;
	height: 30%;
}

#question{
	
	height : 25%;
	width : 70%;
	position : relative;
}


#answer{
	
	height : 25%;
	width : 70%;
	position : relative;
}

.box{
	margin-left : 100px;
	margin-top : 20px;
	display : inline-block;
	background-color: red;
}